<div class="row">
  <div class="col-xs-12">
    <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="" class="form-label"></label>
            <input type="text" name="name" id="name" class="form-control" placeholder="" aria-describedby="name">
            <small id="name" class="text-muted">Name</small>
          </div>
          <div class="col-sm-2 form-group">
            <label for="" class="form-label"></label>
            <input type="number" name="amount" id="amount" class="form-control" placeholder="" aria-describedby="name">
            <small id="amount" class="text-muted">Amount</small>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success me-2">Add</button>
            <button type="button" class="btn btn-danger me-2">Delete</button>
            <button type="button" class="btn btn-primary">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>
